@-moz-document domain("zhihu.com") {
nav {
    a {
        background: #6E7B6C !important;
    }
    a:link {
        background: #6E7B6C !important;
    }
    a:hover {
        background: #90a993 !important;
    }
}
}

@-moz-document domain("zhihu.com") {
/* 一般输入框 */
input::placeholder {
    color: whitesmoke !important;
}

/* 搜索框 */
div[class*="SearchBar"],
label[class*="SearchBar"] {
    input {
        color: whitesmoke !important;
    }

    /* 隐藏搜索框默认文字 */
    input::placeholder {
        opacity: 0.0 !important;
    }
}


/* 隐藏下拉框中的热搜 */
div[class="SearchBar-label"] {
    display: none !important;
}


div[id*="topSearch"] {
    display: none !important;
}
}

@-moz-document domain("zhihu.com") {
/* 放大图片的背景 */
div:has(+img) {
    display: none !important;
}



/* 选择 img 后面紧跟着的第一个 div 并隐藏以隐藏图片放大后遮盖的<div>元素，但不隐藏回答框图标后面的输入框对应的div和文章合集图标后的文字（在<a>内） */
img:not([class*="Avatar"]) + div:not(a > div) {
    display: none !important;
}
}

@-moz-document domain("zhihu.com") {
/* 隐藏侧边热搜栏 */
div[class="HotSearchCard"] {
    display: none !important;
}

/* 隐藏文章下方广告 */
div[class="pc-ylh-ad pc-ylh-ad--bigimg"],
div[class="pc-article-answer"],
div[class="pc-article-answer-text-chain"],
div[class="Pc-Business-Card-PcTopFeedBanner"],
div[class="Card TopstoryItem TopstoryItem--advertCard TopstoryItem-isRecommend"],
div[class="Pc-card Card"],
div[class="Pc-word-new"],
div[class="pc-article-answer-big-img"] {
    display: none !important;
}

/* 去除主页sidebar */
div[data-za-detail-view-path-module="RightSideBar"] {
    display: none !important;
}
}

@-moz-document domain("zhihu.com") {
/* 背景色 */
html,
main,
body,
div,
div p,
font,
strong,
label,
meta,
header,
h1,
h2,
h3,
h4,
a span,
a[class="PostItem"],
article,
button,
blockquote,
figcaption,
ul,
textarea {
    background-color: #6E7B6C !important;
    color: whitesmoke !important;
}

span {
    background-color: #6E7B6C !important;
}

/* 回答输入框中标题颜色 */
textarea::placeholder {
    color: whitesmoke !important;
}

/* 搜索关键词高亮 */
em {
    color: cyan !important;
}


/* navbar上一块应当透明的小块，在含有<nav>的<div>后的一个<div> */
div:has(> nav) + div {
    display: none !important;
}

/* 上方，navbar下面一块应当透明的小块 */
div[id="_scroll-padding-polyfill_"] {
    display: none !important;
}

/* 主页上的banner */
div[class="UserCover"] {
    opacity: 0.5 !important;
}

/* 移除热搜模块后面的渐变背景 */
div[data-za-detail-view-path-module="Content"] {
    div {
        background-image: none !important;
    }
}

div[class="List"] {
    div {
        background-image: none !important;
    }
}

/* 链接颜色 */
a {
    outline-color: whitesmoke !important;
}

a:link {
    color: #303b2f;
    background: #c1d1cf;
    text-decoration: none !important;
}


a:visited {
    color: #303b2f;
    background: #c1d1cf;
    text-decoration: none !important;
}

a:focus {
    color: #303b2f !important;
    background: #c1d1cf !important;
    text-decoration: none !important;
}

a:hover {
    color: rgb(0, 12, 107) !important;
    background: whitesmoke !important;
    text-decoration: none !important;
    /* font-family: 'UbuntuMonoNF'; */
}

a:active {
    background: #c1d1cf !important;
    text-decoration: none !important;
}

/* 链接卡片的背景 */
a[data-draft-type="link-card"] {
    background-color: #6E7B6C !important;
}

a[data-draft-type="link-card"]:hover {
    background-color: #5c6a5d !important;
}

a[class="tag type_a"] {
    background-color: #6E7B6C !important;
}

a:has(img) {
    background-color: #6E7B6C !important;
}

span[class="visible"] {
    color: #303b2f !important;
    background-color: #c1d1cf !important;
    text-decoration: none !important;
}

span[class="visible"]:hover {
    color: rgb(0, 12, 107) !important;
    background: whitesmoke !important;
    text-decoration: none !important;
}
}

@-moz-document domain("zhihu.com") {
code {
    color: black !important;
    background-color: #C1D1CF !important;
}

pre,
code span {
    background-color: #C1D1CF !important;
}

/* editor */
pre:has(div[class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"]) {
    background-color: #191a1e !important;
}

div[class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"]:has(span.prism-token) {
    background-color: #191a1e !important;
}

div[class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr"]:has(span.prism-token) span {
    background-color: #191a1e !important;
}


/* output */
span {
    .k {
        font-style: italic !important;
        /* e.g. pub, fn, return in rust */
        color: #24b235 !important;
    }

    .nf {
        color: lightblue !important;
        /* e.g. main in rust */
    }

    .kt {
        color: yellow !important;
        /* e.g. i32 in rust */
    }

    .s {
        color: orange !important;
        /* string */
    }

    .mi,
    .mf {
        color: #00ccd1 !important;
        /* number */
    }
}
}